:root 
{
    --c-SoftBlue: #8BACD9;
    --c-White: white;
    --c-Cyan: #00FFF8;
    --c-MainBg: #0D192C;
    --c-CardBg: #15263F;
    --c-Line: #2E405A;
}


html 
{
    font-size: 18px;
}

body 
{
    margin: 0;
    background-color: var(--c-MainBg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child {
    margin-bottom: 0;
}



/* Typography */

.c 
{
    font-family: "Outfit", sans-serif;
    line-height: 1.44;
    font-weight: 300;
    color: var(--c-SoftBlue);
}

.c h1 
{
    font-size: 1.22rem;
    line-height: auto;
    font-weight: 600;
    color: var(--c-White);
    transition: color 300ms;
    cursor: pointer;
}
.c__title:hover 
{
    color: var(--c-Cyan);
}


.c__caption 
{
    font-size: .83rem;
    line-height: auto;
    font-weight: 400;
}

.c__caption--bold 
{
    font-weight: 600;
}

.c__caption span {
    transform:  color 300ms;
    cursor: pointer;
}

.c__creation span:hover 
{
    color: var(--c-Cyan);
}

@media (min-width:768px)
{
    .c__caption
    {
        font-size: .88rem;
    }
}

/* Layout */

.c {
    max-width: 350px;
    background-color: var(--c-CardBg);
    border-radius: 15px;
}

.c__header {
    padding: 1.33em;
    padding-bottom: 0;
}

.c__img-main-container {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.c__img-main {
    width: 100%;
    display: block;
    max-width: 604px;
    border-radius: 8px;
}

.c__img-main-over {
    opacity: 0%;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    background-color: hsla(178, 100%, 50%, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms;
    border-radius: 8px;
}

.c__img-main-container:hover .c__img-main-over 
{
    opacity: 100%;
}


.c__content {
    padding: 1.33em;
    padding-bottom: 1.77em;
}

.c__title {
    margin-top: 0;
}



.c__main {
    border-bottom: 1px solid var(--c-Line);
    padding-bottom: 1.33em;
}

.c__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c__caption-container {
    display: flex;
    align-items: center;
    gap: .38em;
}

.c__ethereum-value {
    color: var(--c-Cyan);
}

.c__ethereum-value, .c__time-value {
    margin-top: 0;
}

.c__footer {
    display: flex;
    align-items: center;
    gap: .88em;
    padding-top: .88em;
}

.c__img-profile 
{
    width: 33px;
    height: 33px;
    border: solid 1px var(--c-White);
    border-radius: 50%;
}

.c__creation 
{
    margin-top: 0;
}

.c__caption span 
{
    color: var(--c-White);
}
